<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      body {
        font-family: 'Arial', sans-serif;
      }

      form {
        margin-bottom: 20px;
      }

      input {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }

      button {
        padding: 8px 12px;
        background-color: #3498db;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }

      a {
        text-decoration: none;
      }

      button:hover {
        background-color: #2980b9;
      }

      h1 {
        color: #333;
      }

      table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
      }

      th, td {
        padding: 15px;
        text-align: left;
      }

      th {
        background-color: #3498db;
        color: #fff;
      }

      tr:nth-child(even) {
        background-color: #f2f2f2;
      }

      img {
        max-width: 100%;
        height: auto;
        border-radius: 8px;
      }

      p {
        color: #333;
      }
    </style>
    <title>Yuk Naik Gunung</title>
  </head>
  <body>
    <form>
      <input
        type="text"
        placeholder="Search by Nama Gunung"
        name="search"
        autocomplete="off"
      />
      <button type="submit">Search</button> <br />
      <br />
    </form>
    <a href="/customers"><button>Home</button></a> <br />
    <br />
    <a href="/customers/add"><button>Daftar Sekarang untuk Booking</button></a>
    <br> <br>
    <a href="/logout"><button>Logout</button></a> <br />
    <h1>Daftar Gunung Indonesia</h1>

    <% if (packages.length > 0) { %>
    <table border="3">
      <thead class="img_mounth">
        <tr>
          <th>Gambar</th>
          <th>Nama Gunung</th>
          <th>Location</th>
          <th>Deskripsi</th>
          <th>Harga</th>
        </tr>
      </thead>
      <tbody>
        <% packages.forEach(el => { %>
        <tr>
          <td>
            <img src="<%= el.imageURL %>" />
          </td>
          <td><%= el.name %></td>
          <td><%= el.location %></td>
          <td><%= el.description %></td>
          <td><%= formatCurrency(el.price) %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
    <% } else { %>
    <p>Maaf, gunung yang Anda cari tidak ada.</p>
    <% } %>

    <br />
    <br />
  </body>
</html>
