<!-- views/mountainsForOrder.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mountains for Order</title>
  </head>
  <body>
    <h1>Mountains Available for Order</h1>
    <a href="/"><button>Home</button></a> <br> <br>

    <% if (mountainsForOrder.length > 0) { %>
      <table border="3">
        <thead class="img_mounth">
          <tr>
            <th>Gambar</th>
            <th>Nama Gunung</th>
            <th>Deskripsi</th>
            <th>Harga</th>
            <th>Order Now</th>
          </tr>
        </thead>
        <tbody>
          <% mountainsForOrder.forEach(el => { %>
            <tr>
              <td>
                <img src="<%= el.imageURL %>" style="width: 50%" />
              </td>
              <td><%= el.name %></td>
              <td><%= el.description %></td>
              <td><%= formatCurrency(el.price) %></td>
              <td>
                <a href="/stores/<%= el.id %>"><button style="color: blue;">Order Now</button></a> <br> <br>
              </td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    <% } else { %>
      <p>Maaf, tidak ada gunung yang dapat dipesan berdasarkan saldo Anda.</p>
    <% } %>

    <br />
    <br />
  </body>
</html>
